.product-list {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  padding: 0 2.4rem;

  @media screen and (min-width: 768px) {
    padding: 0 4rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 17.5vw;
  }

  @media screen and (min-width: 1440px) {
    padding-inline: 20vw;
  }
}
