.home__hero {
  margin-bottom: 5rem;
  background-color: var(--color-element-darkd);
  background-image: url("/images/home/mobile/image-header.jpg");
  background-color: #10100f;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .home__hero {
    background-size: cover;
    background-image: url("/images/home/tablet/image-header.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .home__hero {
    margin-bottom: 10rem;
    background-size: contain;
    background-image: url("/images/home/desktop/image-hero.jpg");
  }
}

.home__product-categories,
.home__featured-products,
.home__claim {
  margin-bottom: 12rem;
}

@media screen and (min-width: 1024px) {
  .home__product-categories,
  .home__featured-products,
  .home__claim {
    margin-bottom: 18rem;
  }
}
