.header {
  padding: 3.2rem 0;
  background-color: var(--color-element-dark);
}

.header > h2 {
  color: var(--color-text-light);
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    padding: 10rem 0;
  }
}
